@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Cantarell);

body {
    background-color: #636f7b;
    background-image: url(/assets/background2.jpg);
    
}

.header {
    text-align: center;
    font-family: Cantarell;
    margin-top: 100px;

}
#div1 {
    display: show;
}
#palautediv {
    display: none;
}
#palauteheader{
    text-align: center;
    font-family: Cantarell;
    margin-top: 100px;
}
#palautetxt{
    text-align: left;
    font-family: Cantarell;
}
body.modal-open > :not(.modal) {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    padding:0 !important;
    overflow-y: auto;
}
#img{

    height: 90px;
  width: 400px;
}
#img1{

    height: 90px;
  width: 400px;
}
#hometab{
    display: none;
}
#palautetab{
    display: none;
}